<!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Dropzone File Upload</h3>
        <div class="row mt">
            <div class="blus-panel mt">
                <div class="panel-body">
                    <form action="assets/dropzone/upload.php" class="dropzone" id="file"></form>
                </div>
            </div>
        </div>
        <hr/>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->
