@model IEnumerable<CMPH_BugTracker.Models.TicketNotification>
@{
    ViewBag.Title = "UnreadTickets";
}

<h2>UnreadTickets</h2>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h3><i class="fa fa-angle-right"></i>Ticket Notifications</h3>
<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <div class="row"><br /></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticketNotification in Model)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>